body {
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: rgb(90, 152, 90);
}

.header_title {
  margin: 0 auto;
  color: beige;
}

.header_title h1 {
  font-size: 50px;
}

.header img {
  width: 300px;
  height: 120px;
  cursor: default;
}

.header h2 {
  margin: 0 auto;
}

/* header end */

/* navbar */
.navbar {
  background-color: rgb(8, 113, 8);
  padding: 2px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_toggle {
  display: none;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav_list_mobile {
  display: none;
}

.nav_item {
  position: relative;
}

.nav_button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(90, 152, 90);
  list-style: none;
  padding: 0.5rem 0;
  display: none;
  min-width: 150px;
}

.dropdown li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.dropdown li a:hover {
  background-color: #444;
}

.nav_item:hover .dropdown {
  display: block;
}

.react_icons {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
  color: white;
  position: relative;
}

.icon {
  width: 26px;
  height: 26px;
}

.shoping_cart_icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cart_count {
  position: absolute;
  bottom: -10px;
  right: -10px;
  font-size: 12px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
}

/* navbar end */

/* homepage */
.home {
  display: flex;
  margin-top: 10px;
}

.home img {
  width: 400px;
  height: 500px;
}

.highlight_list {
  align-self: center;
  list-style: none;
  padding: 10px;
  margin: 20px;
}

.highlight_list li {
  font-size: 1.1rem;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  color: #555;
}

.highlight_list li:last-child {
  border-bottom: none;
}

/* homepage end */

/* product card */
.product_card a {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.product_card img {
  width: 300px;
  height: 300px;
}

/* product card end */

/* products showpage */
.product_type {
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
  color: rgb(90, 152, 90);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

/* products showpage end*/

/* product full info */
.product_page {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product_page img {
  width: 350px;
}

.thumbnail_photos img {
  width: 80px;
  cursor: pointer;
  border-radius: 4px;
}

.thumbnail_photos img.selected {
  border: 2px solid rgb(90, 152, 90);
}

.size_selector {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.size_selector label {
  font-weight: 600;
  margin-bottom: 5px;
}

.sizes_select {
  padding: 0.5rem;
  border: 1px solid rgb(90, 152, 90);
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.sizes_select:focus {
  border-color: rgb(90, 152, 90);
  outline: none;
}

.product_description {
  width: 60%;
  margin-bottom: 30px;
}

.purchase_button {
  width: 150px;
  height: 40px;
  background-color: rgb(90, 152, 90);
  color: white;
  border: none;
  margin-bottom: 20px;
}

/* product full info end */

/* login form component */
.login_form {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
  top: 110%;
  right: 65%;
  padding: 10px;
  background-color: rgb(90, 152, 90);
}

.login_form input {
  display: block;
  margin: 5px;
  width: 170px;
  height: 30px;
  outline: none;
}

.login_form input:focus {
  border-color: rgb(8, 113, 8);
  box-shadow: 0 0 5px white;
}

.login_form a {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 2px;
  /* margin-top: 10px; */
  outline: none;
}

.login_form a:focus {
  border-color: white;
  box-shadow: 0 0 5px white;
}

.login_form button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 20px;
  border-color: rgb(146, 218, 146);
  background-color: rgb(74, 189, 74);
  color: white;
  outline: none;
}

.login_form button:focus {
  box-shadow: 0 0 10px white;
}

.login_form.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* login form component end */

/* register page */
.register_user_page {
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(90, 152, 90);
}

.register_user_page h2 {
  text-align: center;
  color: white;
}

.register_user_page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_user_page input {
  width: 200px;
  padding: 10px;
  margin: 5px;
  outline: none;
}

.register_user_page input:focus {
  border-color: rgb(8, 113, 8);
  box-shadow: 0 0 5px white;
}

.register_user_page button {
  margin-top: 15px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  border-color: rgb(146, 218, 146);
  background-color: rgb(74, 189, 74);
  color: white;
  outline: none;
}

.register_user_page button:focus {
  box-shadow: 0 0 10px white;
}

/* register page end */

/* shoping cart */
.shoping_cart {
  min-height: 40vh;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.shoping_cart_item a {
  display: flex;
  flex-direction: column;
  /*this sets up the spacing between elements when using flex direction column*/
  line-height: 0.3;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  cursor: default;
}

.shoping_cart_item img {
  width: 200px;
}

.remove_icon {
  color: red;
  cursor: pointer;
  margin-left: 180px;
}

/* shoping cart end */

/* user page */
.user_page_navbar {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(8, 113, 8);
}

.user_nav_button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  /* border-color: rgb(146, 218, 146); */
  background-color: rgb(74, 189, 74);
  color: white;
  outline: none;
}

.user_nav_button.selected {
  background-color: rgb(149, 149, 67);
}

.user_orders {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: space-around;
}

.user_orders p {
  grid-column: 1 / -1;
  text-align: center;
}

.order_card ul {
  background-color: rgb(201, 222, 203);
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 5px 2px rgba(65, 83, 68, 0.2);
}

.order_card li {
  list-style-type: none;
  padding: 2px;
}

.order_card button {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  border-color: rgb(146, 218, 146);
  background-color: rgb(74, 189, 74);
  color: white;
  outline: none;
  margin-left: 45px;
}

/* user page end */

/* order page for creating orders */
.order_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order_page_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.order_page_form input {
  width: 200px;
  padding: 10px;
  margin: 5px;
  outline: none;
}

.order_page_form input:focus {
  border-color: rgb(8, 113, 8);
  box-shadow: 0 0 5px white;
}

.order_page_form span {
  color: white;
}

.order_page_form button {
  margin-top: 15px;
  width: 100px;
  height: 40px;
  outline: none;
  align-self: center;
}

.order_page_form button:focus {
  box-shadow: 0 0 10px white;
}

/* order page for creating orders end */

/*order page to display already created order */
.current_order h2 {
  text-align: center;
}

.order_info {
  background-color: rgb(201, 222, 203);
  box-shadow: 0 0 5px 2px rgba(65, 83, 68, 0.2);
  padding: 2px;
  margin: 10px;
}

.order_info li {
  list-style-type: none;
  padding: 10px;
  font-size: 17px;
}

.customer_info {
  background-color: rgb(201, 222, 203);
  box-shadow: 0 0 5px 2px rgba(65, 83, 68, 0.2);
  padding: 2px;
  margin: 10px;
}

.customer_info li {
  list-style-type: none;
  padding: 10px;
  font-size: 17px;
}

.order_actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_actions button {
  margin-top: 20px;
  width: 120px;
  height: 43px;
  font-size: 15px;
  border-radius: 20px;
  border-color: rgb(146, 218, 146);
  background-color: rgb(74, 189, 74);
  color: white;
  outline: none;
  margin-left: 45px;
}

/*order page to display already created order end*/

/* footer */
.footer {
  margin-top: 20px;
  padding: 5px;
  background-color: rgb(8, 113, 8);
}

.footer li {
  list-style-type: none;
}

.footer li a {
  text-decoration: none;
  color: white;
}

/* footer end */

@media (max-width: 600px) {
  body {
    width: 100% !important;
  }

  /* header */
  .header_title h1 {
    font-size: 24px;
  }

  .header_title h2 {
    font-size: 15px;
    text-align: center;
  }

  .header img {
    width: 100px;
    height: 80px;
  }

  /* header end */

  /* homepage */
  .home {
    flex-direction: column;
  }

  .home img {
    width: 200px;
    height: 300px;
    align-self: center;
  }

  /* homepage end */

  /* navbar */
  .nav_toggle {
    display: block;
    color: white;
    background-color: rgb(90, 152, 90);
    border-color: rgb(90, 152, 90);
    width: 40px;
    padding: 5px 10px;
  }

  .navbar {
    padding: 10px;
  }

  .nav_list {
    display: none;
  }

  .nav_list_mobile {
    display: none;
    position: absolute;
    background: rgb(90, 152, 90);
    border: 1px solid #ccc;
    width: 200px;
    padding: 5px;
    top: 35%;
    left: 1%;
    z-index: 10;
  }

  .nav_list_mobile.opened {
    display: block;
    list-style-type: none;
  }

  .nav_item {
    padding: 10px;
  }

  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .react_icons {
    font-size: 14px;
    margin-right: 0;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  /* navbar end */

  /* products showpage */
  .product_type {
    font-size: 22px;
  }

  .products {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  /* products showpage end */

  /* product cards */
  .product_card img {
    width: 250px;
    height: 250px;
  }

  /* product cards end */

  /* product full inf0 */
  .product_page {
    width: 100%;
  }

  .product_page h2 {
    font-size: 20px;
  }

  .thumbnail_photos img {
    width: 50px;
  }

  .sizes_select {
    font-size: 14px;
  }

  .product_description {
    width: 90%;
    margin-bottom: 30px;
  }

  /* product full info end */

  /* login  form component */
  .login_form {
    top: 100%;
    right: 70%;
  }

  /* login  form component end */

  /* register page */
  .register_user_page {
    width: 80%;
  }

  .register_user_page h2 {
    font-size: 20px;
  }

  .register_user_page input {
    width: 170px;
  }

  .register_user_page button {
    width: 80px;
    height: 45px;
  }

  /* register page end */

  /* shoping cart */
  .shoping_cart {
    grid-template-columns: repeat(1, 1fr);
  }

  /* shoping cart end */

  /* user page */
  .user_page_navbar {
    width: 85%;
    gap: 10px;
  }

  .user_nav_button {
    font-size: 12px;
    width: 70px;
    height: 45px;
  }

  .user_orders {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .order_card button {
    width: 100px;
    height: 35px;
    margin-left: 100px;
  }

  /* user page end */

  /* order page for creating orders */
  .order_page_form span {
    align-self: flex-start;
  }

  .order_page_form button {
    width: 80px;
    height: 45px;
  }

  /* order page for creating orders end */

  /*order page to display already created order */
  .current_order h2 {
    font-size: 20px;
  }

  .order_info li {
    font-size: 15px;
    padding: 5px;
  }

  .customer_info li {
    font-size: 15px;
    padding: 5px;
  }

  .order_actions {
    gap: 5px;
  }

  .order_actions button {
    width: 110px;
    height: 45px;
    margin-left: 0;
  }

  /*order page to display already created order end*/
}

